<div id="cover">
    <p id="head">Contact Us</p>
    <div class="description">

        <!-- about PlayStream -->
        <h3 id="title">PlayStream  - Ready to Shoot Life !</h3>
        <p class="para">
            PlayStream is a video streaming webapp that allows our members to watch TV shows and movies without commercials on an internet-connected device.   
            You can also download TV shows and movies to your iOS, Android, or Windows 10 device and watch without an internet connection.
            If you're already a member and would like to learn more about using PlayStream, visit Help with PlayStream.
            To watch TV shows and movies offline at any time, download them from the PlayStream app.
        </p>
        <p class="para">
            You can watch PlayStream through any internet-connected device that offers the PlayStream app, including smart TVs, game consoles, streaming media players,
             set-top boxes, smartphones, and tablets. You can also watch PlayStream on your computer using an internet browser. 
        </p>
        <h5 id="tagline">#Let's Get Started With PlayStream</h5>
        <br><hr><br><br>

        <!-- contact details -->
        <div class="d-flex">
            <div class="column-left">
                <h4 id="query-head">Our Office</h4>
                <p id="query-para">
                    PlayStream Office<br>
                    City Centre Building<br>
                    Kochi, Kerala <br>
                    Near Marine Drive,Kochi<br>
                    PIN Code : 654-777
                </p>
                <br><br>
            </div>
            <div class="column-right1">
            <h4 id="query-head">Follow Us</h4>
            <p id="query-para">
                Facebook : playstream@fb2021<br>
                Instagram : insta@playstream<br>
                Twitter : playstream_blog
            </p>
            <br><br>
            </div>
        </div>
        
        <div class="d-flex">
            <div class="column-left">
                <h4 id="query-head">For Queries</h4>
                <p id="query-para">
                    Phone : 1800-266-3333 <br>
                    Email : support@playstream.com <br>
                    Call us : Monday to Saturday, 10AM - 7PM
                </p>
                <br><br>
            </div>
            <div class="column-right2">
                <h4 id="query-head">Suggestions</h4>
                <p id="query-para">
                    Wattsapp : 979-998-7777 <br>
                    Email : suggest@playstream.com <br>
                </p>
                <br><br>
            </div>
        </div>
    </div>
<br><br>
<br><br>
</div>
